::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #555;
}
body, html {
    background-color: #111;
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
    overflow-x: hidden;
    scrollbar-color: #555 rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
a {
  text-decoration: none;
}
.head {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #222;
}
.logo {
    font-weight: bold;
    font-size: 2.5em;
    margin-left: 0.6em;
    margin-top: 0.2em;
    color: inherit;
}
.logo:hover {
    cursor: pointer;
}
.search {
    display: inline-flex;
    position: absolute;
    margin-left: 40em;
    margin-top: 0.6em;
}
.search input {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0.5em;
    color: #eee;
    padding: 0.5em;
    width: 25em;
}
.search button {
    display: inline-flex;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    width: 2.5em;
}
.search button:hover {
    cursor: pointer;
}
.account {
    display: inline-flex;
    width: 1.4em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    float: right;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0.8em;
    padding: 0.5em;
}
.account.authorized {
    width: auto;
}
.account:hover {
    cursor: pointer;
}
.head .user {
    position: fixed;
    top: 0.3em;
    min-width: 6em;
    right: 0;
    padding: 3em 0.5em 0.2em 0.2em;
}
.head .user:hover {
    cursor: pointer;
}
.account-select {
    display: none;
    width: 10em;
    padding-top: 0.1em;
    background-color: #555;
    border-radius: 6px;
    text-align: center;
    cursor: default;
    box-shadow: 0 0 10px #222;
}
.account-select a {
    color: #eee;
}
.account-select p {
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-bottom: 0.5em;
}
.account-select p:not(:last-child) {
    border-bottom: 1px solid black;
}
.user:hover {
}
.sidebar {
    display: block;
    position: fixed;
    height: 100%;
    text-align: left;
    background-color: #222;
    border: 1px solid #444;
    border-left: none;
    border-radius: 0 0.2em 0 0;
    margin-top: 3.7em;
    margin-left: 0;
    padding-top: 0.5em;
    width: 24em;
}
.recommended table, .top table {
    background-color: #222;
    border-collapse: collapse;
    width: 24em;
    border-bottom: 1px solid #444;
}
.recommended table caption {
    font-weight: bold;
}
.top table caption {
    font-weight: bold;
    border-top: 1px solid #444;
}
.recommended table th, .top table th {
    display: flex;
    border-top: 1px solid #444;
    padding: 0.8em;
}
.top {
    display: block;
    position: fixed;
    bottom: 0;
}
.avatar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #000;
}
th .name {
    margin-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
    color: #eee;
}
.content {
    display: block;
    position: absolute;
    width: calc(100% - 28em);
    text-align: left;
    margin-left: 24em;
    margin-top: 3.2em;
}
.__content {
    display: block;
    position: absolute;
    height: 50%;
    width: 100%;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.__wrap_content {
    display: inline-grid;
    justify-content: center;
    margin: 0 5em;
}
.acc h1,
.acc h3,
.acc p {
    text-align: center;
}
.acc p {
    line-height: 0;
    margin-top: 2em;
    font-weight: 600;
    font-size: 14px;
}
.acc {
    text-align: left;
}
.acc div {
    margin-bottom: 0.2em;
}
.acc input {
    float: right;
    margin-left: 4em;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0.5em;
    color: #eee;
    padding: 0.5em;
    width: 25em;
}
.acc textarea {
    float: right;
    margin-left: 4em;
    margin-bottom: 0.6em;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0.5em;
    color: #eee;
    padding: 0.5em;
    width: 32.7em;
}
.acc .image {
    width: 20%;
    justify-content: center;
}
.acc .image img {
    height: 20em;
    justify-content: center;
}
.secret .eye {
    line-height: 0;
    margin-left: calc(100% - 1.7em);
    margin-top: -2em;
}
.secret .eye:hover {
    cursor: pointer;
}
.__content input {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0.5em;
    color: #eee;
    margin-bottom: 0.5em;
    padding: 0.5em 0.5em;
    width: 25em;
}
.__content p {
    text-align: left;
}

.recovery_login-link:visited,
.recovery_login-link {
    text-align: left;
    color: #55f;
}
.recovery_login-link:hover,
.register-link:hover {
    text-decoration: underline;
}
.register-link {
    text-align: left;
    margin-top: 0.5em;
    margin-left: 0em;
    font-size: 18px;
    color: #aaa;
}
#recovery-submit,
#register-submit,
#login-submit {
    display: inline-flex;
    margin-left: 9.8em;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 2em;
    font-size: 14px;
    color: #eee;
}
#register-submit {
    width: 6em;
    height: 2em;
}
#register-submit:hover,
#login-submit:hover,
#recovery-submit:hover {
    cursor: pointer;
}
#recovery-submit {
    margin-left: 8em;
    width: 6em;
    height: 2em;
}
@media (max-height: 700px) {
  .top {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .most-popular .streams {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    width: 100%;
  }
}
@media (max-height: 820px) {
  .top {
    display: none;
  }
}
.streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1em;
}
.category {
    max-width: 94em;
    width: 105%;
}
.category .streams {
    display: flex;
    flex-wrap: wrap;
}
.most-popular .streams {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    width: 100%;
    margin-left: 1em;
}
.most-popular .stream {
    flex: 0 0 21.3em;
    margin-right: 1em;
    height: 15.5em;
}
.stream {
    align-items: flex-start;
    width: 21.3em;
    height: 15em;
    justify-content: space-between;
    white-space: nowrap;
    text-align: left;
}
.category .stream {
    margin-left: 1em;
}
.streamImage {
    width: 21.3em;
    height: 12em;
}
.streamImage:hover {
    cursor: pointer;
}
.stream .about {
    position: relative;
    margin-left: 0.2em;
    margin-top: -1.6em;
}
.stream .fake {
    position: relative;
    margin-top: -1.6em;
    font-size: 24px;
    font-weight: bold;
    color: #0dd;
    margin-left: 11.4em;
    text-shadow: 0 0 5px #200;
}
.stream .name {
    line-height: 0rem;
    font-weight: bold;
    color: #eee;
}
.stream .author {
    line-height: 0.8rem;
    color: #888;
}
.stream .viewers {
    position: relative;
    margin-top: -1.2em;
    font-size: 14px;
    color: #666;
    margin-left: 18em;
}
.prev-button,
.next-button {
    position: absolute;
    top: 9.5em;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.2);
    border-radius: 0.5em;
    border: none;
    color: #fff;
    cursor: pointer;
}
.prev-button:hover,
.next-button:hover {
    background-color: rgba(50, 50, 50, 0.4);
}
.prev-button:active,
.next-button:active {
    background-color: rgba(50, 50, 50, 0.6);
}
.prev-button {
    left: 0.5em;
}
.next-button {
    right: 0.5em;
}
.categories {
    margin-left: 0;
}
.categories button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 8px;
    margin-top: 0;
    border: 1px solid #444;
    border-radius: 4px;
    color: #eee;
    background-color: #111;
    transition: background-color 0.3s ease;
}
.caption {
    margin-left: 1.2em;
    margin-bottom: 0.4em;
    color: #eee;
    font-size: 18px;
}
.caption span {
    color: #4af;
    font-size: 20px;
    font-weight: bold;
}
.categories button:hover {
    background-color: #e0e0e0;
    color: #111;
    cursor: pointer;
}
.category {
    margin-top: 0.8em;
}
.streamsInCategories .category .caption {
    margin-left: 1.2em;
    display: ruby;
    color: #eee;
    font-size: 18px;
}
.streamsInCategories .category .category {
    color: #4af;
    font-size: 20px;
    font-weight: bold;
}
.stream-container {
    display: flex;
    position: absolute;
    text-align: left;
    margin-top: 4.6em;
    margin-left: 1em;
}
.stream-content {
    height: 100%;
    width: 82em;
}
.stream-data {
    margin-left: 0.6em;
}
.stream-data .about {
    margin: 0;
}
.stream-data .about .name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.stream-data .about .viewers {
    position: absolute;
    color: #999;
    font-size: 18px;
    margin-left: 52em;
}
.stream-data .author {
    margin-top: 0;
    position: absolute;
}

.author:hover {
    cursor: pointer;
}
.stream-data .author img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #000;
}
.stream-data .author span {
    position: absolute;
    margin-top: 0.4em;
    margin-left: 0.4em;
    color: #999;
}
.stream-container .chat {
    margin-top: 2.8em;
    margin-left: 1em;
    width: 28em;
    height: 40em;
    font-size: 18px;
    overflow-y: scroll;
    background: #151515;
}
.stream-container .caption {
    position: absolute;
    margin-left: 66.5em;
    margin-top: 0;
    width: 25.2em;
    padding-top: 0.6em;
    font-size: 20px;
    font-weight: bold;
    color: #999;
    padding-bottom: 0.6em;
    background: #222;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.chat .messages {
    display: block;
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    word-break: break-word;
}
.chat .message {
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-left: 0.5em;
}
.chat .message img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #000;
}
.chat .message div {
    display: block;
    margin-left: 0.4em;
    margin-right: 1em;
}
.chat .message .author {
    margin-top: 0.8em;
    font-size: 12px;
    font-weight: bold;
    color: #9bb;
}
.chat .message .text {
    margin-top: 0.38em;
    margin-left: 0.4em;
    font-size: 16px;
    color: #ccc;
}
.chat .rules {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.chat .rules .span {
    line-height: 0;
}
.chat .input {
    position: absolute;
    bottom: -1.6em;
    width: inherit;
    background-color: inherit;
    padding: 1px 0 0 0;
}
.chat .input #messageInput {
    width: 84%;
    height: 2.2em;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0.5em;
    color: #eee;
    padding-left: 0.5em;
}
.chat .input #messageInput:disabled {
    background-color: #150505;
}
.chat .input button {
    width: 13%;
    height: 2.6em;
    position: absolute;
    right: 0;
    color: #aaa;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 0.5em;
}
.chat .input button:hover:enabled {
    cursor: pointer;
}
@media (max-width: 1900px) {
  .stream-container {
    width: 96.5%;
  }
  .stream-container .chat {
    position: absolute;
    margin-top: 52.8em;
    margin-left: 1.65em;
    width: 98%;
    height: 40em;
    font-size: 18px;
    overflow-y: scroll;
    background: #151515;
  }
  .stream-container .caption {
    position: absolute;
    margin-left: 1.5em;
    margin-top: 45em;
    width: 98%;
    padding-top: 0.6em;
    font-size: 20px;
    font-weight: bold;
    color: #999;
    padding-bottom: 0.6em;
    background: #222;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  .chat .messages {
    display: flex;
    margin-top: 2.5em;
    padding-bottom: 0.2em;
    flex-direction: column-reverse;
  }
  .chat .input {
    position: sticky;
    bottom: 38.1em;
    width: 100%;
    background-color: inherit;
    padding: 1px 0 0 0;
  }
  .chat .input #messageInput {
    width: 85%;
  }
  .chat .input button {
    width: 14%;
  }
}
.subscribe {
    display: flex;
    padding: 2px 12px;
    margin-left: 10.2em;
    margin-top: -2.4em;
    border: 1px solid #444;
    border-radius: 4px;
    color: #eee;
    background-color: #111;
    transition: background-color 0.3s ease;
}
.subscribe:hover {
    cursor: pointer;
}

#video-player-container {
    position: relative;
}
video {
    width: 100%;
    height: auto;
}
#video-controls {
    position: absolute;
    bottom: 3em;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
}
#video-player-container:fullscreen #video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#play {
    position: absolute;
    bottom: -2.6em;
}
#mute {
    position: absolute;
    bottom: -2.6em;
    left: 4em;
}
#volume {
    position: absolute;
    left: 7em;
    bottom: -2.4em;
    width: 8em;
    height: 1em;
}
#fullscreen {
    position: absolute;
    bottom: -2.6em;
    left: 95.6em;
}
#play, #mute, #fullscreen {
    background-color: transparent;
    color: #fff;
    border: 1px solid #444;
    border-radius: 6px;
    width: 2.1em;
    height: 2.1em;
    padding: 0;
    line-height: 0;
    text-align: center;
}
#video-player-container:fullscreen #video-controls{
    position: absolute;
    bottom: 0;
    left: 0.5em;
    bottom: 1em;
}
#video-player-container:fullscreen #video-controls #play {
    position: absolute;
    bottom: 0;
    left: 0.5em;
}
#video-player-container:fullscreen #video-controls #mute {
    position: absolute;
    bottom: 0;
    left: 3.5em;
}
#video-player-container:fullscreen #video-controls #volume {
    position: absolute;
    bottom: 0;
    left: 8em;
    width: 8em;
    height: 1em;
}
.screen {
    display: block;
}
#video-player-container:fullscreen .screen {
    display: none;
}
#video-player-container:fullscreen #video-controls #fullscreen {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 3em;
}
#video-player-container:fullscreen .full {
    display: block;
    opacity: 0.8;
}
#video-player-container:fullscreen .full2 {
    display: block;
    transform: rotate(90deg);
    opacity: 0.3;
}
.full {
    display: none;
}
.full2 {
    display: none;
    transform: rotate(90deg);
    opacity: 0.5;
}